.individual_article {
  width: 100%;
  border: solid black 2px;
  padding: 30px;

  background-color: rgb(17, 25, 82);
  color: aliceblue;
}

.heading {
  text-align: center;
  color: rgb(209, 89, 45);
  font-size: 4rem;
}
.text {
  grid-column: 2 / 3;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  column-width: 25rem;
  text-align: justify;
}

.comment-count-article {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 20px;
}
.comment-count-space {
  margin-right: 5px;
}

.center {
  display: block;

  margin: auto;
  width: 50%;
}

.topic-author {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
