@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.individual_article {
  width: 100%;
  border: solid black 2px;
  padding: 30px;
  background-color: rgb(17, 25, 82);
  color: aliceblue;
}

.heading {
  text-align: center;
  color: rgb(209, 89, 45);
  font-size: 9rem;
  font-family: "Bebas Neue", sans-serif;
}
.text {
  grid-column: 2 / 3;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  column-width: 25rem;
  text-align: justify;
  margin: 30px;
  font-weight: 300;
}

.comment-count-article {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 20px;
}
.comment-count-space {
  margin-right: 5px;
}

.center {
  display: block;

  margin: auto;
  width: 50%;
}

.topic-author {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(165, 178, 248);
}

.first-paragraph::first-letter {
  font-size: 6rem;
  color: rgb(165, 178, 248);
  float: up;
  margin-right: 1rem;
}
