.commentInput {
  color: black;
  max-width: 100rem;
  margin: 20px;
}
.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-comment-btn {
  max-width: 100rem;
}
