.commentInput {
  color: black;
  max-width: 100em;
  margin: 20px;
}
.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-comment-btn {
  min-width: 30em;
  margin: auto;
}
.toast_body {
  color: black;
}
