.articles-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px;
  background-color: beige;
}

.each_article {
  padding: 30px;
  border: solid black 2px;
}
