.header {
  background-color: rgb(5, 5, 154);
  color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grumpy {
  margin: 20px;
}
h1 {
  margin: 10px;
  padding: 20px;
}
.welcome {
  text-align: center;
}
