.header-container {
  background-color: rgb(11, 11, 52);
  color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grumpy {
  margin: 20px;
}
h1 {
  margin: 10px;
  padding: 20px;
}

.welcome {
  background-color: rgb(11, 11, 52);
  font-size: 5rem;
}

.North-Coders {
  background-color: rgb(11, 11, 52);
  font-size: 5rem;
}
