.comments {
  max-width: 100rem;
  background-color: rgb(219, 231, 245);
  margin: 20px;
}

.comments1 {
  align-items: center;
  margin: auto;
  padding-left: 40px;
}

.author {
  background-color: rgb(152, 170, 245);
}

.comment-Footer {
  padding: 10px;
}
